<h1 id="title">買い物リスト</h1>

<a class="btn logintop" href="/login_top">ログイントップへ</a>
  <br>
  <br>
<% if @res.to_a.length > 0 %> <!-- to_aメソッドは配列を返し、lengthは、要素の数を返す -->
<form action="/checked" method="POST">
  <table id="lists_table">
    <tr>
      <th align="left">コーナー</th>
      <th align="left">材料名</th>
      <th align="left">料理名</th>
      <th align="left">チェック</th>
    </tr>

    <% @res.each do |list| %>
    <tr>
      <td><%= list['category_name'] %></td>
      <td><%= list['menu_name'] %></td>
      <td><%= list['item_name'] %></td>

      <td>
        <% if list['checked'] == 't' %>
        <input type="checkbox" name="<%= list['id'] %>" checked>
        <% else %>
        <input type="checkbox" name="<%= list['id'] %>">
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="submit">
  <input type="submit" value="保存する">
  </div>
</form>
<% end %>
